@page "/"

@using StockAnalysisWithSharesiesApp.Data
@inject IAnalysisService AnalysisService

<h1>Basic Stock Analysis</h1>
<p>Stocks analysed:</p>
<p>@AnalysisService.GetAllSymbolsAnalyzed()</p>

<h2>Stocks with most positive indicators</h2>

@if (_positiveStocks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Positive indicators</th>
                <th>Growth so far</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in _positiveStocks)
            {
                <tr>
                    <td>@stock.name</td>
                    <td>@stock.symbol</td>
                    <td>@stock.PositiveIndicators() / @AnalysisService.GetMaximumForPositiveIndicators()</td>
                    <td>@stock.PercentReturn</td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Bargains this week</h2>

@if (_bargainStocks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Growth last week</th>
                <th>Growth so far</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in _bargainStocks)
            {
                <tr>
                    <td>@stock.name</td>
                    <td>@stock.symbol</td>
                    <td>@stock.GrowthLastWeek()</td>
                    <td>@stock.PercentReturn</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AnalyzedStock> _positiveStocks;
    private IEnumerable<AnalyzedStock> _bargainStocks;

    protected override void OnInitialized()
    {
        _positiveStocks = AnalysisService.GetStocksWithMostPositiveIndicators();
        _bargainStocks = AnalysisService.GetStocksOnBargainThisWeek();
    }

}
