@page "/"

@using StockAnalysisWithSharesiesApp.Data
@inject IAnalysisService AnalysisService

<h1>Basic Stock Analysis v2</h1>
<p>Stocks analysed:</p>
<p>@AnalysisService.GetAllSymbolsAnalyzed()</p>

<h2>Stocks with most positive indicators</h2>

@if (_positiveStocks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Positive indicators</th>
            <th>Growth last year</th>
            <th>Growth last week</th>
            <th>Growth so far</th>
            <th>PE ratio</th>
            <th>Market Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var stock in _positiveStocks)
        {
            <tr>
                <td>@stock.name</td>
                <td>@stock.symbol</td>
                <td>@stock.PositiveIndicators()</td>
                <td>@stock.GrowthLastYear()</td>
                <td>@stock.GrowthLastWeek()</td>
                <td>@stock.PercentReturn</td>
                <td>@stock.peRatio</td>
                <td>@stock.marketPrice</td>
            </tr>
        }
        </tbody>
    </table>
}

<h2>Fastest growing stocks last year</h2>

@if (_growthStocks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Positive indicators</th>
            <th>Growth last year</th>
            <th>Growth last week</th>
            <th>Growth so far</th>
            <th>PE ratio</th>
            <th>Market Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var stock in _growthStocks)
        {
            <tr>
                <td>@stock.name</td>
                <td>@stock.symbol</td>
                <td>@stock.PositiveIndicators()</td>
                <td>@stock.GrowthLastYear()</td>
                <td>@stock.GrowthLastWeek()</td>
                <td>@stock.PercentReturn</td>
                <td>@stock.peRatio</td>
                <td>@stock.marketPrice</td>
            </tr>
        }
        </tbody>
    </table>
}


<h2>Bargains this week</h2>

@if (_bargainStocks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Positive indicators</th>
            <th>Growth last year</th>
            <th>Growth last week</th>
            <th>Growth so far</th>
            <th>PE ratio</th>
            <th>Market Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var stock in _bargainStocks)
        {
            <tr>
                <td>@stock.name</td>
                <td>@stock.symbol</td>
                <td>@stock.PositiveIndicators()</td>
                <td>@stock.GrowthLastYear()</td>
                <td>@stock.GrowthLastWeek()</td>
                <td>@stock.PercentReturn</td>
                <td>@stock.peRatio</td>
                <td>@stock.marketPrice</td>
            </tr>
        }
        </tbody>
    </table>
}

<h2>Stocks to sell</h2>

@if (_stocksToSell == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Positive indicators</th>
            <th>Growth last year</th>
            <th>Growth last week</th>
            <th>Growth so far</th>
            <th>PE ratio</th>
            <th>Market Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var stock in _stocksToSell)
        {
            <tr>
                <td>@stock.name</td>
                <td>@stock.symbol</td>
                <td>@stock.PositiveIndicators()</td>
                <td>@stock.GrowthLastYear()</td>
                <td>@stock.GrowthLastWeek()</td>
                <td>@stock.PercentReturn</td>
                <td>@stock.peRatio</td>
                <td>@stock.marketPrice</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AnalyzedStock> _positiveStocks;
    private IEnumerable<AnalyzedStock> _bargainStocks;
    private IEnumerable<AnalyzedStock> _growthStocks;
    private IEnumerable<AnalyzedStock> _stocksToSell;

    protected override void OnInitialized()
    {
        _positiveStocks = AnalysisService.GetStocksWithMostPositiveIndicators();
        _bargainStocks = AnalysisService.GetStocksOnBargainThisWeek();
        _growthStocks = AnalysisService.GetFastestGrowingStocks();
        _stocksToSell = AnalysisService.GetStocksThatShouldBeSold();
    }

}